{{> head }}

{{> nvbar }}

<div class="row">
    <div class="col-8">
        <h1>Hola papu</h1>
        <p>aosdkoaskdoaksodkaosdkoaksdokasodkoaskdoaksodkasodkaos</p>
    </div>
    <div class="col-4">
        <img src="/assets/img/diseño.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}